*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(11, 11, 11, 0.9);
}

h1{
  margin-bottom: 20px;
}

.info-password{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 400px;

  border: solid 1px black;
  border-radius: 15px;
  background-color: white;
}